html,body{
    width: 1366px;
    height: 768px;
}

body {
    background: url("../img/test.jpg") no-repeat;
}

.jumbotron {
    background: rgba(255, 255, 255, 0.7);
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

select {
    background: rgba(255, 255, 255, 1);
    width: 200px !important;
}

input {
    vertical-align: middle;
    width: 200px;
    border: 1px solid rgba(0, 0, 0, .15);
}

button {
    border: 1px solid rgba(0, 0, 0, .15);
}

h2 {
    position: absolute;
    left: 38%;
    top:  25%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: rgba(255, 255, 255, 0.7);
}

p {
    position: relative;
}