.jumbotron {
    background-color: inherit;
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

select {
    width: 200px !important;
}

input {
    vertical-align: middle;
    width: 200px;
    border: 1px solid rgba(0, 0, 0, .15);
}

button {
    border: 1px solid rgba(0, 0, 0, .15);
}

h2 {
    position: absolute;
    left: 32%;
    top: 31%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

p {
    position: relative;
}